@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Kaushan+Script&family=Parisienne&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fleur+De+Leah&family=Kaushan+Script&family=Parisienne&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&family=Fleur+De+Leah&family=Kaushan+Script&family=Parisienne&family=Tangerine&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

@import "../node_modules/bootstrap/scss/variables";


body {
  margin: 0;
  padding: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

    ::-webkit-scrollbar {
  display: none;
}

.sidenav {
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgba(255, 255, 255, 0.95);
  transition: 0.5s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.3);
  .logo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
  }
  .pages {
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
  }
}
.w-85 {
  width: 85%;
}
.start-15 {
  left: 15%;
}
.main-content {
  .navbar {
    padding: 0;
    .container-fluid {
      padding: 0;
    }
  }

  #editor {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }
}

.nav {
  justify-content: space-between;
}
.gjs-pn-panel {
  position: relative;
}

.gjs-cv-canvas {
  width: 100%;
  height: 100%;
  top: 0;
}

.tab-content {
  display: contents;
}



#block {

.labelimg{
 padding-top: 8%;
 padding-bottom:10% ;
}
}


/* Theming */
.gjs-one-bg {
  background-color: rgb(254, 252, 251);
}

.gjs-two-color {
  color: rgb(30, 0, 28);
}

.gjs-three-bg {
  background-color: rgb(30, 0, 28);
  color: rgb(250, 248, 247);
}

.gjs-four-color,
.gjs-four-color-h:hover {
  color: rgb(30, 0, 28);
}

.gjs-pn-btn {
  border: 1px solid rgb(30, 0, 28);
}

// Customize Bootstrap CSS

.btn,
.nav-link,
.modal-content,
.form-control {
  border-radius: 0 !important;
}

.btn {
  .fa {
    color: rgb(82, 0, 120);
  }
  &:hover {
    .fa {
      color: rgb(249, 244, 252);
    }
  }
}

// services
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 90%;
  height: 90%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #484854 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}

.icon-wrapper {
  background-color: #2c2c2f;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #484854;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

// flip cards
// base
.flip {
  position: relative;
  >.front,
  >.back {
      display: block;
      transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
      transition-duration: 1.5s;
      transition-property: transform, opacity;
  }
  >.front {
      transform: rotateY(0deg);
  }
  >.back {
      position: absolute;
      opacity: 0;
      top: 0px;
      left: 0px;
      width: 90%;
      height: 90%;
      transform: rotateY(-180deg);
  }
  &:hover {
      >.front {
          transform: rotateY(180deg);
      }
      >.back {
          opacity: 1;
          transform: rotateY(0deg);
      }
  }
  &.flip-vertical {
      >.back {
          transform: rotateX(-180deg);
      }
      &:hover {
          >.front {
              transform: rotateX(180deg);
          }
          >.back {
              transform: rotateX(0deg);
          }
      }
  }
}

// custom
.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
  >.front,
  >.back {
    display: block;
    color: rgb(255, 255, 255);
    width: inherit;
    background-size: cover!important;
    background-position: center!important;
    height: 220px;
    padding: 1em 2em;
    background: #f0f0f0;
    border-radius: 10px;
    p {
      font-size: 0.9125rem;
      line-height: 160%;
      color: #999;
    }
  }
}

.text-shadow {
text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}




// hero3.js 
$color--dark: #282828;
$color--white: #fff;
$color--red: #2f0fcfad;

// * {
//   box-sizing: border-box;
// }

// body {
//   color: $color--white;
//   font-family: 'Montserrat', sans-serif;
//   position: relative;
// }

strong {
  font-weight: 900;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 30px 30px 0;
  text-align: right;
}

.menu-trigger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid $color--white;
  cursor: pointer;
  position: relative;
  
  &:focus,
  &:active {
    outline: 0;
  }
  
  &__line {
    position: absolute;
    left: 4px;
    width: 30px;
    height: 2px;
    background-color: $color--white;
    transition: .2s ease-in-out;
    
    &:nth-child(1) { top: 9px; }
    &:nth-child(2) { top: 18px; }
    &:nth-child(3) { bottom: 9px; }
  }
  
  &:hover {
    .menu-trigger__line {
      &:nth-child(1) { top: 7px; }
      &:nth-child(3) { bottom: 7px; }
    }
  }
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 40px);
  background-color: $color--dark;
  z-index: 9;
  color: $color--white;
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  transition: .4s ease-in-out;
  transition-delay: .3s;
  min-height: 450px;
  
  &__inner {
    max-width: 650px;
    margin: 120px auto 0;
  }
  
  &__info {
    width: 100%;
    max-width: 200px;
    margin: 0 auto 30px;
    height: 200px;
    background-color: rgba($color--white, .7);
    background: url(https://images.unsplash.com/photo-1644088379091-d574269d422f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1093&q=80) no-repeat top center;  
    opacity: 0;
    transform: translate3d(-25px, 0, 0);
    visibility: hidden;
    transition: .4s ease-in-out;
    transition-delay: 0s;
  }
  
  @media screen and (min-width: 760px) {
    &__inner {
      display: flex;
    }
    
    &__info {
      width: calc(50% - 75px);
      margin: 0 75px 0 0;
    }
  }
}

.menu {
  width: 70%;
  margin: 0 auto;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(25px, 0, 0);
  transition: .4s ease-in-out;
  transition-delay: 0s;
  
  ul {
    list-style: none;
    counter-reset: menu;
    margin: 0;
    padding: 0;
  }
  
  li {
    position: relative;
    margin: 15px 0 30px;
    
    &:last-child { margin-bottom: 0; }
    
    &::before {
      counter-increment: menu;
      content: counter(menu, decimal-leading-zero);
      position: absolute;
      top: -20px;
      left: -35px;
      opacity: .15;
      font-size: 42px;
      font-weight: 300;
    }
    
    a {
      color: $color--white;
      text-decoration: none;
      position: relative;
      line-height: 1;
      
      &::after {
        content: "";
        position: absolute;
        left: 108%;
        top: 3px;
        width: 0;
        height: 20px;
        background-color: $color--red;
        transform: skew(-20deg);
        transition: .2s ease-in-out;
      }
      
      &:hover::after { width: 8px; }
    }
    
    &.current a {
      font-weight: bold;
      
      &::after { width: 8px; }
    }
  }
  
  @media screen and (min-width: 760px) {
    width: 50%;
    padding: 0; 
    margin: 0;
  }
}

.hero {
  height: calc(100vh - 40px);
  min-height: 400px;
  width: 100%;
  background: url(https://images.unsplash.com/photo-1644088379091-d574269d422f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1093&q=80) no-repeat top center $color--dark;  
  background-size: cover;
  color: $color--white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color--dark, .2);
  }
  
  &__caption {
    position: relative;
    max-width: 80%;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 5px;
    
    h2 {
      font-weight: 300;
      font-size: 30px;
    }
  }
  
  @media screen and (min-width: 760px) {
    &__caption {
      h2 {
        font-size: 48px;        
      } 
    }
  }
}

.is-navigation-open {
  .menu-trigger__line {
    background-color: $color--red;

    &:nth-child(1) {
      transform: rotate(-45deg);
      top: 18px !important;
    }

    &:nth-child(2) { transform: scale(0); }

    &:nth-child(3) {
      transform: rotate(45deg);
      bottom: 18px !important;
    }
  }
  
  .navigation {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition-delay: 0s;
    
    &__info {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
      transition-delay: .3s;
    }
  }
  
  .menu {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    visibility: visible;
    transition-delay: .3s;
  }
}

.mask-polygon-1 {
  clip-path: polygon(0 0, 100% 0, 100% 82.8%, 37.2% 100%, 0 77.2%);
}

// right section.js

.relative__container {
  width: 100%;
  position: relative;
}
.full__width img {
  width: 100%;
  height: 460px;
  // border-radius: 1.5rem;
  box-shadow: rgba(31, 75, 255, 0.28) 0px 48px 100px 0px;
}
.object__fit img {
  object-fit: cover;
  display: block;
}
.absolute {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 80%;
}
.icon {
  width: 57px;
  height: 57px;
  margin-bottom: 6px;
  stroke: #8f98bb;
  filter: drop-shadow(0px 12px 12px #1c274f);
}


.button {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  padding: 10px 28px;
  text-decoration: none;
  display: inline-block;
  transition: 0.25s;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(17, 12, 46, 0.2) 0px 48px 60px 0px;
}
.button:active {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  .full__width img {
    width: 100%;
    height: 420px;
    border-radius: 0.75rem;
  }
  .absolute {
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  .icon {
    width: 53px;
    height: 53px;
    margin-bottom: 16px;
  }
  
  .button {
    display: block;
  }
}

 
